{{ define "main" }}

<div class="container">

    <h1>{{ .Title }}</h1>

    {{ with .GetPage .Page.RelPermalink }}
    {{ .Content }}
    {{ end }}

    {{ range .Pages.ByPublishDate.Reverse }}
    <article>
        <header class="headings">
            <h3>
                <a href="{{ .RelPermalink }}">
                    {{ .Title }}
                </a>
            </h3>
            {{ partial "metadata.html" . }}
        </header>

        {{ .Summary }}
    </article>
    {{ end }}

</div>
{{ end }}