<hr>
<div class="container-md">
    <div class="row justify-content-around">
        <div class="col-6">
            Lyon, France
            <br>
            <a href="mailto:adrien@cosson.io">adrien@cosson.io</a>
        </div>
        <div class="col-6">
            <a href="https://github.com/AdrienCos" target="_blank" class="">
                <i data-feather="github"></i> AdrienCos
            </a>
            <br>
            <a href="https://linkedin.com/in/adriencosson" target="_blank">
                <i data-feather="linkedin"></i> adriencosson
            </a>
        </div>
    </div>
</div>
</div>