{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{ with .Page.Resources.Match "projects/*.md" }}
    {{ range . }}

    <article>
        <h4>
            {{ with .Params.project_url }}
            <a href="{{ . }}">
                {{ end }}
                {{ .Title }}
                {{ if .Params.project_url }}
            </a>
            {{ end }}
        </h4>
        {{ .Content }}
    </article>

    {{ end }}
    {{ end }}

</div>
{{ end }}